body{
    text-align: center;
}
img{
    width:30%;
    margin: auto;
}
h5{
    /* margin-bottom: 40px; */
    font-size: 200%;

}
h1{
    font-size: 350%;
}
.navbar{
    text-align: left;
}
@media(max-width:800px) {
    img{
        width: 100%;
    }
    
}