textarea{
    resize: none;
}
.contact_form{
    width:90%;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color:#212529!important;
    color: white;
}
@media(max-width:800px) {
    .contact_form{
        width: 98%;
    }
}
input[type="text"],input[type="email"],input[type="text"]:active,input[type="email"]:active{
    border: 2px solid black;
    
}
.form-label{
    font-weight: bold;
    margin-top: 10px;
}