/* button{
    background-color: gold;
    font-weight: bold;
    padding-left: 25px;
        padding-right: 25px;
        border-radius: 30px;
} */

.container {
  padding: 20px;
}

.popular-category {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popular-category h2 {
  color: #333;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-item {
  margin-bottom: 20px;
  /* margin: 1px; */
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.category-item:hover {
  transform: translateY(-5px);
}

.category-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.food-item {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.food-item:hover {
  color: #f55;
}

