<footer class="container-fluid bg-dark mb-0 pb-3 text-white p-3">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-warning">Recipe Jhalak</h2>
            <p>Recipe Dekh , Khana Bana </p>
            <p>By - Pranav Malpani</p>
        </div>
        <div class="col-md-6">
            <h3 class="text-warning">Links</h3>
            <li><a href="/">Home</a></li>
            <li><a href="/#category">Recipe by Categories</a></li>
            <li><a href="/area">Recipe by Area</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/faq">FAQ</a></li>

            

        </div>
       
    </div>
 <hr>
 <h3 class="text-warning">Know about Recipe Jhalak</h3>
 <p>On the recipe and cookbook website Recipe Jhalak, you may combine your own ideas with recipes from renowned chefs and food brands to create any dish you like. Additionally, you can view the food item's preparation video from our website.</p>
 <hr>
 <p>Terms & Condition | Privacy Policy | Copyright@2022.Recipe Jhalak</p>
</footer>