<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/style/nav.css">
  <link rel="stylesheet" href="/style/footer.css">
  <style>
    .register_form {
      width: 45%;
      border: 2px solid black;
      padding: 20px;
      margin: auto;
      margin-top: 100px;
      border-radius: 20px;
      background-color: white;
      height: fit-content;
      /* margin-top: 30px; */
    }

    .basic-addon1 {
      cursor: pointer;
    }

    .side_form {
      /* background-color:#198754; */
      background-color: #ffc107;
      color: rgb(0, 0, 0);
      text-align: center;
      font-weight: bold;
      /* margin-top: 1px; */
    }

    .side_form h3 {
      margin-top: 30px;
      font-size: 2.2rem;
    }

    .register_form img {
      display: none;
    }

    .side_form img {
      width: 40%;
      margin-top: 25px;
    }

    .side_form a {
      text-decoration: none;

    }

    @media(max-width:800px) {
      .register_form {
        width: 85%;
      }

      .side_form {
        display: none;
      }

      .register_form img {
        display: block;
        width: 20%;
        margin: auto;
        /* margin-top: 25px; */
      }
    }
  </style>
</head>

<body>
  <%- include("header.ejs") %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 side_form">
        <img src="https://cdn-icons-png.flaticon.com/512/219/219969.png" alt="">
        <h3>Register Form</h3>
        <p>Register with Recipe Jhalak to receive the most recent recipes and information on website updates. Register by completing the form.</p>
        <a href="">Terms & Condition</a>

      </div>


      <form action="/register" method="post" class="register_form my-5 col-md-7" autocomplete="off">
        <h3>Fill out this form</h3>
        <img src="https://cdn-icons-png.flaticon.com/512/219/219969.png" alt="">
        <% if(error){%>
        <div class="alert alert-danger"><%=message%></div>
        <% } %>
        <!-- <label for="" class="form-label">Name</label> -->
        <div class="input-group mb-3 my-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Name</span>
          </div>
          <input type="text" name="name" id="name" class="form-control" placeholder="Name">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email Id</span>
          </div>
          <input type="email" name="email" id="email" class="form-control" placeholder="Email Id">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Password</span>
          </div>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <span class="input-group-text" id="basic_addon1">Show Password</span>
          </div>
        </div>

        <div class="error_password my-2 text-danger"></div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Confirm Password</span>
          </div>
          <input type="password" name="cpassword" id="cpassword" class="form-control" placeholder="Confirm Password">
        </div>
        <!-- <input type="text" name="name" id="name" class="form-control"> -->
        <!-- <label for="" class="form-label">Email id</label> -->

        <!-- <label for="" class="form-label">Password</label> -->
        <div class="error my-2 text-danger"></div>

        <p class="form-label"> <input type="checkbox" name="check" id="check" value="on">&nbsp;I agree to <b>Terms and Condition </b> and Privacy Policy</p>

        <input type="submit" value="Create Account" class="btn btn-success my-3">
        <!-- <input type="reset" value="Cancel" class="btn btn-outline-danger my-3"> -->

      </form>
    </div>


  </div>

  <%- include("footer.ejs") %>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    function show_pass() {
      if ($("#password").attr("type") === "text") {
        $("#password").attr("type", "password");
        $("#basic_addon1").html("Show Password");
      }
      else{
        $("#password").attr("type", "text");
        $("#basic_addon1").html("Hide Password");
      }
    }

    function check_password() {
      var password_value = $("#password").val();
      var confirm_password_value = $("#cpassword").val();
      if (password_value !== confirm_password_value) {
        $(".error").text("Confirm Password not Matched");
      } else {
        $(".error").text("");
      }
    }

    function validate() {
      if ($("#check").prop("checked")) {
        return true;
      } else {
        $(".error").text("Please agree to the Terms and Conditions.");
        return false;
      }
    }
    $("#basic_addon1").click(show_pass);
    $("#cpassword").on("input", check_password);
    $(".register_form").on("submit", validate);
  });
</script>