
/* .container-fluid {
    background-color: #f6f7fb;
    min-height: 7vh;
  } */
  .register{
    display: flex;
    align-items: center;
    min-height: 67vh;
    justify-content: center;
  }
  .register_form {
    margin: auto;
    width: 80%; /* Adjust width as needed */
    max-width: 500px; /* Added max-width to prevent form from becoming too wide */
    padding: 20px; /* Added padding for better spacing */
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  .basic-addon1 {
    cursor: pointer;
  }
  
  .side_form {
    /* width: 100%; */
    /* background-image: url("https://img.freepik.com/free-photo/exploding-burger-with-vegetables-melted-cheese-black-background-generative-ai_157027-1734.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1713139200&semt=ais"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .side_form h3 {
    margin-top: 20px;
    font-size: 2.2rem;
  }
  
  .side_form img {
    width: 60%;
    margin-top: 25px;
  }
  
  .side_form a {
    display: block;
    color: #333; /* Darken link color for better contrast */
    text-decoration: none;
    margin-top: 20px;
    font-weight: normal;
  }
  
  .side_form a:hover {
    text-decoration: underline; /* Underline link on hover */
  }
  
  @media (max-width: 800px) {
    .register_form {
      width: 85%;
    }
  
    .side_form {
      display: none;
    }
  
    .register_form img {
      display: block;
      width: 40%;
      margin: auto;
      margin-top: 20px;
    }
  }